:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  margin: 0;
  background-image: url(png/aksesori-pc-gaming1.png);
  background-size: cover;
  background-repeat: no-repeat;
 
}
header{
  display: flex;
  justify-content: space-between;
  background-color: #060909;
}
.logo{
  color:#EDEDEE;
  font-size: large;
  font-weight: 900;
  margin-left: 31px;
  cursor: pointer; 
  transition: 0.3s;
}
.logo:hover{
  transform: scale(1.1);  
}
.menu{
  display: flex;
  gap: 98px;
  color: gray;
  opacity: 100%;
  font-size: medium;
  font-weight: 600;
  cursor: pointer; 
  transition: 0.3s;
}
.menu p:hover{
  transform: scale(1.05);
  color: white;
}
.profile{
  margin-right: 38px;
  font-size: medium;
  font-weight: 600;
  cursor: pointer; 
  transition: 0.3s;
}
.profile:hover{
  transform: scale(1.1);
}
content .textcontent{
  padding-left: 181px;
  padding-right: 453px;
}
.textcontent h1{
  font-size: 98px;
  color: white;
}
.textcontent h2{
  font-size: 64px;
  color: #FAD46A;
  line-height: 0;
}
.AI{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap:46.95px
}
.AI input{
  width: 755px;
  height: 255.05px;
  font-size: 25px;
  border-radius: 20px;
}
.AI button{
  width: 209px;
  height: 54px;
  font-size: 32px;
  background: #242425;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.AI button:hover{
  transform: scale(1.1);
}
.AI button span{
  background:linear-gradient( #FAD46A, #5BB0CF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

